# Настройки для подключения к БД

DB_USER='postgres'             # имя пользователя БД
DB_PASSWORD='password'        # пароль пользователя БД

DB_HOST='localhost'            # адрес сервера БД
DB_NAME='django_test'          # название БД
DB_PORT='5432'                 # номер порта для БД


# Настройки для отправления рассылок через email

EMAIL_HOST='smtp.mail.ru'      # smtp сервер
EMAIL_PORT=465                 # номер порта

EMAIL_HOST_USER='test@test.ru' # Почтовый ящик для отправки писем для подтверждения регистрации
EMAIL_HOST_PASSWORD='password' # Пароль от почтового ящика
