{% extends 'catalog/base.html' %}
{% load blog_tags %}

{% block page_header %}
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Блог</h1>
        </div>
    </header>
{% endblock %}

{% block page_content %}
<div class="text-center container">
<a class="btn btn-primary" href="{% url 'blog:create' %}" type="button">Create Post</a>
</div>

<div class="album py-5 bg-body-tertiary">
    <div class="text-center container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            {% for object in post_list %}

            <div class="col">
                <div class="card shadow-sm" style="height: 24rem;">
                    <img src="{% mediapath object.image %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.title|title }}</h5>
                        <p class="card-text">{{ object.description|truncatechars:100 }}</p>
                        <div>
                           <a href="{% url 'blog:view' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-secondary">View</a>
                            <a href="{% url 'blog:edit' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-secondary">Edit</a>
                            <a href="{% url 'blog:delete' object.pk %}" type="button"
                           class="btn btn-sm btn-outline-secondary">Delete</a>
                        </div>

                    </div>
                </div>
            </div>

            {% endfor %}


        </div>
    </div>
</div>

{% endblock %}