{% extends 'base.html' %}

{% block page_header %}
    <header>
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal text-body-emphasis">Главная</h1>
            <p class="fs-5 text-body-secondary">Вы находитесь на сайте, предназначенном для продажи товаров</p>
        </div>
    </header>
{% endblock %}

{% block page_content %}
    <main class="row">
        <div class="row text-center">
            <div class="col-4">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Товар 1</h4>
                    </div>
                    <div class="card-body">
                        <h2 class="card-title pricing-card-title">$100</h2>
                        <p>
                            10 users included,
                            2 GB of storage,
                            Email support,
                            Help center access
                        </p>
                        <button type="button" class="btn btn-success">Купить</button>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <form>
                    <div class="mb-3">
                        <label for="exampleInputName" class="form-label">Имя</label>
                        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputEmail" class="form-label">Email</label>
                        <input type="email" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </form>
            </div>



            <div class="row">
                <div class="col-6"></div>


                <div class="container">

                    <div class="card-header py-3">
                        <h1 class="my-0 fw-normal">FAQ</h1>
                    </div>

                    <p class="d-inline-flex gap-1">
                        <a class="btn btn-primary" data-bs-toggle="collapse" href="#multiCollapseExample1" role="button"
                            aria-expanded="false" aria-controls="multiCollapseExample1">Как
                            купить?</a>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#multiCollapseExample2" aria-expanded="false"
                            aria-controls="multiCollapseExample2">Как доставить?</button>
                        <button class="btn btn-primary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#multiCollapseExample3" aria-expanded="false"
                            aria-controls="multiCollapseExample3">Какая гарантия?</button>
                    </p>
                    <div class="row">
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                                <div class="card card-body">
                                    На сайте или в приложении
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample2">
                                <div class="card card-body">
                                    Почта России или самовывоз
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="collapse multi-collapse" id="multiCollapseExample3">
                                <div class="card card-body">
                                    Никакой
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}