<ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
        <a href="/" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#home" />
            </svg>
            Главная
        </a>
    </li>
    <li>
        <a href="/product" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#speedometer2" />
            </svg>
            Продукт
        </a>
    </li>
    <li>
        <a href="/contacts" class="nav-link text-white">
            <svg class="bi me-2" width="16" height="16">
                <use xlink:href="#people-circle" />
            </svg>
            Контакты
        </a>
    </li>
</ul>